h1.mat-display-1, h2.mat-h2 {
  margin: 0px 16px;
}

h1.mat-display-1 {
  font-size: 24px;
  color: #1E9FCC;
}

h2.mat-h2 {
  font-size: 18px;
  color: #0C373B;
}

.navigation__list-item {
  background: #1E9FCC;
  border-radius: 5px;
  margin-bottom: 5px;

  &:hover {
    background: #5ebfe0;
  }
}

.navigation__list {
  margin-top: 20px;
}

.mat-list-base .mat-list-item {
  color: white;
  text-shadow: -1px -1px 1px #555;
}
